Source: emstudio
Section: unknown
Priority: extra
Maintainer: Michael Carpenter <malcom2073@gmail.com>
Build-Depends: debhelper (>= 8.0.0), build-essential (>=11.0), libqt5opengl5-dev (>=5.2.1), libqt5serialport5-dev (>=5.2.1), qtdeclarative5-dev (>=5.2.1), qtscript5-dev (>=5.2.1), qtquick1-5-dev (>=5.2.1), qt5-default (>=5.2.1), qt5-qmake (>=5.2.1), cdbs (>=0.4.0), freeglut3-dev (>=2.5), git (>=1.2), libudev-dev (>=200)
Standards-Version: 3.9.2
Homepage: http://emstune.com
#Vcs-Git: git://git.debian.org/collab-maint/emstudio.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/emstudio.git;a=summary

Package: emstudio
Architecture: any
Depends: libqt5gui5 (>=5.2.1), libqt5core5a (>=5.2.1), libqt5widgets5 (>=5.2.1), libqt5printsupport5 (>=5.2.1), libqt5opengl5 (>=5.2.1), libqt5declarative5 (>=5.2.1), libqt5network5 (>=5.2.1), libqt5script5 (>=5.2.1), libqt5sql5 (>=5.2.1), libqt5serialport5 (>=5.2.1), freeglut3 (>=2.5)
Description: Open Source ECU Tuning Application, focusing on LibreEMS (http://libreems.org/)
 <insert long description, indented with spaces>
